<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">

    <title>MEAN Stack Buildout!</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">

    <script type="text/javascript" src="vendors/angular/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="scripts/client.min.js" charset="utf-8"></script>

  </head>
  <body>

    <h1>MEAN Stack Buildout!</h1>
    <div ng-controller="BaseController"></div>


  </body>
</html>
